<!DOCTYPE html>
<html>
<head>
	<title>It's <%=who%></title>

	<script src="/js/bootstrap.min.js"></script>
	<%-scripts%>

	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<%-stylesheets%>
</head>
<body>
	<header>
		<%-blocks.header%>
	</header>
	<section>
		<%-body -%>
	</section>
	<footer>
		<%-blocks.footer%>
	</footer>
</body>
</html>